<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Forum Message Board Project</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!-- page content -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/api/topics">Forum Web Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/api/topics">Home</a>
                    </li>
                    <% if(Object.keys(user).length === 0) {  %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                      <% } else { %>
                        <li class="nav-item">
                          <a class="nav-link" href="/api/topics/addpost">Add post</a>
                        </li>
                      <% } %>
                </ul>
            </div>
        </div>
    </nav>


    <div class="card" style="display: block;">
        <div class="card-body">
            <h5 class="card-title">
                <%= post[0].topicname %>
                <% if(user !== undefined && post[0].userid === user.id ) { %>
                    <div class="dropdown" style="float: right;">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <% var t=post[0].topicid %>
                                <li><a class="nav-link" href="/api/topics/editpost?topic=<%= t %>">Edit</a></li>
                                <li><a class="nav-link" href="/api/topics/deletepost?topic=<%= t %>">Delete</a></li>
                        </ul>
                    </div>
                    <% } %>
            </h5>
            <p class="card-text">
                <%= post[0].topicdetails %>
            </p>
        </div>
        <div class="card-footer text-muted">
            <p style="font-size: small;"><a href="/api/topics/addlike?like=like&topic=<%= post[0].topicid%>&page=curr">👍</a>
                <%= post[0].points %> points by <a href="#" class="noline">
                        <%= post[0].userid %>
                    </a> | <a href="#" class="noline" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
                        aria-controls="navbarNavDarkDropdown" aria-expanded="false">
                        <%= post[0].comments %> comments
                    </a>
            </p>

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <div class="card">
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <form action="http://localhost:3000/api/comments/addcomment?<%= [post[0].topicid]  %>" method="POST">
                                <div class="mb-3">
                                    <label for="commdesc" class="form-label">Description</label>
                                    <textarea class="form-control" id="commdesc" rows="5" name="desc"
                                        required></textarea>
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-outline-dark" type="submit" name="tid" value="<%= [post[0].topicid] %>">Add comment</button>
                                </div>
                            </form>
                        </blockquote>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <% if (comments.length !== 0) { %>
        <% for(var j = comments.length - 1; j >= 0; j--){ %>
            <div class="card" style="display: block;">
                <div class="card-body">
                    <div class="dropdown" style="float: right;">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <% var t = comments[j].commentid %>
                        <% var s = comments[j].topicid %>
                        <li><a class="nav-link" href="/api/comments/editcomment?topic=<%= s %>,<%= t %>" >Edit</a></li>
                        <li><a class="nav-link" href="/api/comments/deletecomment?topic=<%= s %>,<%= t %>" >Delete</a></li>
                      </ul>
                    </div>
                  </h5>
               <p class="card-text"><%= comments.length - j %>. <%= comments[j].commentdetails %></p>
               <p style="font-size: small;"> <%= comments[j].points %> points by <a href="#" class="noline"><%= comments[j].userid %></a> | </p>
                </div>
              </div>
        <% } %>
    <% } %>



</body>

</html>