<%- include('header'); -%>


<body>
    <!-- page content -->
  <!-- THE NAV BAR WITH LOGIN -->
  <%- include('navBar'); -%>

  <!-- Delete the post -->
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <form action="http://34.220.239.52:3000/api/topics/deletepost" method="POST">
                    <div class="card">
                        <div class="card-header">
                          Are you sure you want to delete?
                        </div>
                        <div class="card-body">
                          <h5 class="card-title"><%= post[0].topicname %></h5>
                          <p class="card-text"><%= post[0].topicdetails %></p>
                          <p><button type="submit" class="btn btn-outline-dark" name ="tid" value="<%= post[0].topicid %>">Yes</button>
                          <button type="submit" class="btn btn-outline-danger" name="tid" value="No">No</button></p>
                        </div>
                      </div>
                </form>
            </blockquote>
        </div>
    </div>
</body>

</html>