<%- include('header'); -%>


<body>
    <!-- page content -->
    <%- include('navBar'); -%>

<!-- Edits the comment -->
    <div class="card">
        <div class="card-header">
            Edit your Comment
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <form action="http://34.220.239.52:3000/api/comments/editcomment" method="POST">
                    <div class="mb-3">
                        <label for="topicdesc" class="form-label">Description</label>
                        <textarea class="form-control" id="topicdesc" rows="5" name="desc" required><%= comments[0].commentdetails %></textarea>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-outline-dark" type="submit" name ="tid" value="<%= comments[0].topicid %>,<%= comments[0].commentid %>,<%= page.currentPage%>">Edit Comment</button>
                    </div>
                </form>
            </blockquote>
        </div>
    </div>
</body>

</html>