<% for (var i = topics.length - 1; i >= 0; i--) {%>
    <div class="card" style="display: block;">
      <div class="card-body">
        <h5 class="card-title"><a class="nav-link noline" href="/api/comments/?topic=<%= topics[i].topicid%>"><%= topics.length - i %>. <%= topics[i].topicname %></a>
          <% if(user !== undefined && topics[i].userid === user.id ) { %>
          <div class="dropdown" style="float: right;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <% var t = topics[i].topicid %>
              <li><a class="nav-link" href="/api/topics/editpost?topic=<%= t %>" >Edit</a></li>
              <li><a class="nav-link" href="/api/topics/deletepost?topic=<%= t %>" >Delete</a></li>
            </ul>
          </div>
          <% } %>
        </h5>
        <a class="nav-link noline" href="/api/comments/?topic=<%= topics[i].topicid%>"><p class="card-text"><%= topics[i].topicdetails %></p></a>
      </div>
      <div class="card-footer text-muted">
        <p style="font-size: small;"><a href="/api/topics/addlike?like=like&topic=<%= topics[i].topicid%>&page=home">👍</a> <%= topics[i].points %> points by <a href="#" class="noline"><%= topics[i].username %></a> | <a href="/api/comments/?topic=<%= topics[i].topicid%>" class="noline"><%= topics[i].comments %> comments</a></p>
      </div>
    </div>
    <% } %>