<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Forum Message Board Project</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!-- page content -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/api/topics">Forum Web Project</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">Home</a>
            </li>
            <% if(user === undefined) {  %>
              <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="nav-link" href="/api/topics/addpost">Add post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
              </li>
            <% } %>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- EJS CODE TO CREATE LIST OF TOPICS -->

  <% for (var i = topics.length - 1; i >= 0; i--) {%>
    <div class="card" style="display: block;">
      <div class="card-body">
        <h5 class="card-title"><a class="nav-link noline" href="/api/comments/?topic=<%= topics[i].topicid%>"><%= topics.length - i %>. <%= topics[i].topicname %></a>
          <% if(user !== undefined && topics[i].userid === user.id ) { %>
          <div class="dropdown" style="float: right;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <% var t = topics[i].topicid %>
              <li><a class="nav-link" href="/api/topics/editpost?topic=<%= t %>" >Edit</a></li>
              <li><a class="nav-link" href="/api/topics/deletepost?topic=<%= t %>" >Delete</a></li>
            </ul>
          </div>
          <% } %>
        </h5>
        <a class="nav-link noline" href="/api/comments/?topic=<%= topics[i].topicid%>"><p class="card-text"><%= topics[i].topicdetails %></p></a>
      </div>
      <div class="card-footer text-muted">
        <p style="font-size: small;"><a href="/api/topics/addlike?like=like&topic=<%= topics[i].topicid%>&page=home">👍</a> <%= topics[i].points %> points by <a href="#" class="noline"><%= topics[i].userid %></a> | <a href="/api/comments/?topic=<%= topics[i].topicid%>" class="noline"><%= topics[i].comments %> comments</a></p>
      </div>
    </div>
    <% } %>
</body>

</html>